.list-items
    padding: 0
    margin: 0
.list-item
    border-bottom: 1px solid gainsboro
    padding: 1em 0.25em
    list-style: none
    // display: flex
    // align-items: center
    // justify-content: space-between