<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>Health Worker Console</title>

    <!-- Add important meta tags here -->


  </head>
  <style>

    #preloader {
      /* Animate */
      transition: 0.2s opacity 0.2s;

      /* Lay it out */
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 20;

      /* Style it */
      background-color: white;
      
      /* Center its child */
      display: flex;
      align-items: center;
      justify-content: center;
    }
  </style>
  <body>
    
    <noscript>
      <strong>We're sorry but this app doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>

    <!-- Initial loader, dismissed by App.vue mounted hook -->
    <div id="preloader">
      <svg id="Group_19" data-name="Group 19" xmlns="http://www.w3.org/2000/svg" width="91.875" height="91.875" viewBox="0 0 91.875 91.875">
        <path id="Vector" d="M44.56,0h2.706a7.2,7.2,0,0,1,3.625,2.175,6.668,6.668,0,0,1-.676,9.328,4.22,4.22,0,0,0,1.74,7.25A37.409,37.409,0,0,1,60.7,22.328a4.13,4.13,0,0,0,6.234-3.721V17.35A7.4,7.4,0,0,1,81.1,14.6a7.545,7.545,0,0,1-2.272,8.893,8.241,8.241,0,0,1-5.509,1.5,4.19,4.19,0,0,0-3.77,6.331,31.93,31.93,0,0,1,3.528,8.6,3.868,3.868,0,0,0,3.045,3.093,4.392,4.392,0,0,0,4.543-1.353,6.278,6.278,0,0,1,9.376-.193A8.45,8.45,0,0,1,91.875,44.9v2.32c-.145.338-.29.725-.435,1.063a6.438,6.438,0,0,1-10.874,1.933,4.275,4.275,0,0,0-7.346,1.45,41.438,41.438,0,0,1-3.77,9.086,4,4,0,0,0,.774,4.881c1.16,1.257,2.706,1.257,4.2,1.257a7.415,7.415,0,0,1,4.3,13.339,7.179,7.179,0,0,1-8.7.1,7.53,7.53,0,0,1-3.141-6.766c.048-3.867-3.335-5.848-6.67-3.867A30.8,30.8,0,0,1,52.39,72.93a4.131,4.131,0,0,0-3.431,3.142,4.467,4.467,0,0,0,1.45,4.688,6.443,6.443,0,0,1,1.015,8.12,7.931,7.931,0,0,1-4.2,3H44.9c-.242-.1-.483-.193-.774-.29a6.377,6.377,0,0,1-4.543-4.978,6.03,6.03,0,0,1,2.175-6.089,4.4,4.4,0,0,0,1.257-4.446,3.762,3.762,0,0,0-3-3A30.636,30.636,0,0,1,31.173,69.5a3.927,3.927,0,0,0-4.93.773c-1.208,1.208-1.257,2.706-1.257,4.253a7.346,7.346,0,0,1-5.026,6.863,7.406,7.406,0,0,1-8.748-10.826,7.621,7.621,0,0,1,7.1-3.625,4.191,4.191,0,0,0,3.866-6.524,31.584,31.584,0,0,1-3.335-8.168c-.532-2.272-2.078-3.335-4.446-3.383a4.363,4.363,0,0,0-3.19,1.595,6.412,6.412,0,0,1-9.038.435A7.411,7.411,0,0,1,0,47.266V44.56a7.826,7.826,0,0,1,2.32-3.625,6.451,6.451,0,0,1,9.134.967c1.692,1.933,6.138,1.74,7.1-1.547a50.438,50.438,0,0,1,3.818-9.328,4.058,4.058,0,0,0-2.9-5.848,9.574,9.574,0,0,0-2.03-.145,7.424,7.424,0,0,1-7.3-8.6,7.63,7.63,0,0,1,7.056-6.283,7.658,7.658,0,0,1,7.3,4.978,11.643,11.643,0,0,1,.435,3.625,4.116,4.116,0,0,0,6.041,3.721,42.975,42.975,0,0,1,9.279-3.77,3.994,3.994,0,0,0,2.8-3.673,4.313,4.313,0,0,0-1.595-3.721,6.683,6.683,0,0,1,.145-9.666A9.375,9.375,0,0,1,44.56,0Z" fill="#00acc1"/>
        <path id="Vector-1" d="M13.115,23.9a3.506,3.506,0,0,1-2.562-1.063L1.612,13.9A3.622,3.622,0,0,1,6.735,8.775l6.38,6.38L27.179,1.091A3.622,3.622,0,0,1,32.3,6.214L15.676,22.839A3.43,3.43,0,0,1,13.115,23.9Z" transform="translate(29.175 34.069)" fill="#fff"/>
      </svg>
    </div>

    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
