*
    transition: background 0.15s, background-color 0.15s, color 0.15s, border-color 0.15s
    
body
    font-family: $font-primary
    letter-spacing: -0.25px
    font-size: 14px
    overflow-x: hidden

button
    letter-spacing: inherit

pre
    text-align: left !important
    white-space: pre-wrap

table
    width: 100%
    margin: 2em 0
    border-radius: 0.5em
    overflow: hidden
    border-left: 1px solid gainsboro
    border-right: 1px solid gainsboro

thead
    background-color: gainsboro
    font-weight: bold
    border-radius: 1em

th, td
    padding: 0.75em 1em
    text-align: left

tbody td
    border-bottom: 1px solid gainsboro

td:last-child
    text-align: center

hr
    border: none
    border-top: 1px solid gainsboro