$font-inter: 'Inter'

$darkest-gray: #333
$dark-gray: #777

$color-primary: #2585DE
$color-against-primary: white

.color-primary
    color: $color-primary !important

.color-against-primary
    color: $color-against-primary !important

$color-danger: #FF5A5A
        
$color-warning: #FFAB3A
        
$color-good: rgba(50, 185, 110, 1)

.color-danger
    color: $color-danger

.color-warning
    color: darken($color-warning,10)

.color-good
    color: $color-good

.bg-color-danger
    background-color: $color-danger

.bg-color-warning
    background-color: darken($color-warning,10)

.bg-color-good
    background-color: $color-good